<% include ../static/header %>
<div class='container'>
  <h1 class='text-center'>
    Spotitube
  </h1>
  <h3 class='text-center'>
    What is spotitube?
  </h3>
  <p class='text-center'>
    Spotitube è un progetto nato perché avevo la necessità di spostare canzoni da spotify a youtube.
    Visto il bisogno e la voglia di scrivere codice, ho deciso di iniziare a lavorare su un applicazione, non più per scopi universitari, ma semplicemente per divertimento.
    E' sviluppato interamente in Rails e Javascript. 
  </p>
  <h4>
    Cosa puoi fare:
  </h4>
  <ul>
    <li>Esportare i brani preferiti da Spotify in una nuova Playlist di YT</li>
    <li>Esportare i brani preferiti da Spotify in una Playlist di YT già esistente</li>
    <li>Esportare le tue playlists da Spotify in una nuova Playlist di YT</li>
    <li>Esportare le tue playlists da Spotify in una Playlist di YT già esistente</li>
  </ul>
  <h4>
    Cosa NON puoi fare:
  </h4>
  <ul>
    <li>Esportare musica da YT a Spotify</li>
    <li>Eliminare playlist o dati da spotify</li>
    <li>Eliminare playlist o dati da youtube</li>
    <li><b>Scaricare le playlist appena esportate, andando contro i ToS di entrambi i siti</b></li>
  </ul>
  <h4>Di cosa hai bisogno:</h4>
  <ul>
    <li>Account spotify</li> 
    <li>Account YT con canale</li>  
    <li>Tanta pazienza, il sito è ancora in manutenzione</li> 
  </ul>
  <p>
    Il sito è totalmente trasparente, il codice è open source 
    <i>(puoi trovarlo <a href='https://github.com/DanieleFedeli/Spotitube'>QUI</a>)</i> e FREE, 
    tuttavia se vuoi pagarmi un caffè non mi offendo :D
    <a href='https://paypal.me/FedeliD'><button class='btn btn-sm btn-outline-info'>Donate</button></a>
  </p>
  <a href='/auth/spotify'><button class=' btn btn-outline-info form-control'>Inizia ora!</button></a>
</div>